:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

@keyframes bgScroll {
  0% {
    background-position : 0px 20px
  }
  100% {
    background-position : -1920px 20px
  }
}



#canvas.animate {
  display:block;
  background: url("https://static.vecteezy.com/system/resources/previews/001/928/973/original/rural-nature-road-scene-free-vector.jpg") repeat-x;
  animation: bgScroll 26s linear infinite;
  animation-play-state: paused; 

  &.running {
    animation-play-state:running; 
  }
}